* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: #00082f;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 4px;
    border: #4263EB solid 2px;
}

ul {
    list-style: none;
    margin: 1vh 0vh;
}

h1 {
    margin-top: 5vh;
    margin-bottom: 2vh;
}

ul li a {
    height: 10vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4263EB;
    color: white;
    font-size: 24px;
    margin-bottom: 5vh;
    border-radius: 10px;
    transition: background 400ms;
}

ul li a:hover {
    background: #364FC7;
}

footer {
    font-weight: 700;
    font-size: 17px;
    opacity: 0.7;
    transition: opacity 400ms;
    text-align: center;
}

@media (max-width: 440px) {
    ul li a{
        width: 80vw;
    }
}